include titlebar

mixin category(title, text, src, filldir='')
  .col-5_md-6_sm-12.box
    .wrapper
      h5.title #{title}
      .frame.straight-line-background: img(src=src)
      p.description #{text}
    if filldir
      .box.xs-hidden.fill(class=filldir): .box.fill(class=filldir): .box.fill(class=filldir): .box.fill(class=filldir)
 
#tracks
  +titlebar('Tracks', align='right').waves-backgroud
  .container
    p Define your path! At HackWCU, we are focused on our community and our hackers. When you arrive, discover a problem that excites you and go fix it!  Also, we sometimes bring challenges to you, our corporate-sponsored tracks to be announced on the day of our event.

    .grid-right
      +category('Community', 'Technology is a powerful platform that help identify and address issues of inequality and accessibility within our communities. Work to create a solution that assists a community you care about.', './images/computers.svg', filldir='left')
      .col-1.md-hidden
      +category('Classic', 'Making a difference in our communities depends on our experiences and backgrounds. This track gives you the freedom to tackle the issue most important to you in whatever way you wish.','./images/cube.svg', filldir='right')